@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-amareloclaro:#F2DA91;
    --cor-amarelomedio:#F2BC57;
    --cor-amareloescuro:#D9731A;
    --cor-vermelho:#73170288;
    --cor-cinza:#403C36;

    --font-principal:'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
    font-weight: 700;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background: linear-gradient(to right,#D9731A,#F2DA91);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login {
    height: 95vh;
    width: 95vw;
    background-color: var(--cor-vermelho);
    border-radius: 20px;
    overflow: hidden;
}

#image {
    height: 40vh;
    background: url(../images/pexels-apasaric-2603464.jpg) no-repeat center center;
    background-size: cover;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em 0 1em 1em;
}

.form {
    font-size: 1.2em;
    color: var(--cor-amareloclaro);
}

.login {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

.login .logcreate {
    width: 100%;
    }

.login .logcreate input {
    width: 100%;
    padding: 0.6em 1.5em;
    background: transparent;
    border: 3px solid var(--cor-amareloclaro);
    border-radius: 40px;
    font-size: 1.2em;
    color: #ffffff;
    box-shadow: none;
    outline: none;
  }

.login .logcreate input[type="submit"] {
    width: 100%;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
  }

.login .logcreate input[type="submit"]:hover {
    color: #ff357a;
  }

.login .logcreate input::placeholder {
    color: var(--cor-amareloclaro);
  }

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links a {
    color: #fff;
    text-decoration: none;
  }

  .links a:hover {
    color: var(--cor-amareloclaro);
  }
